.predictions {
  transition: all 0.5s ease;
  background: url('../../../assets/img/qatarstatic.png') no-repeat center;
  /* covers the whole screen */
  background-size: cover;
}
.predictions::before {
  width: 100%;
  height: 200px;
  position: absolute;
}

.predictions .content {
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;

  color: #fff;
}

.predictions .containerGrid {
  font-size: 1.3rem;
  font-weight: 500;
}

.predictions .paper {
  margin-top: 2.5rem;
}
