.predictions {
  transition: all 0.5s ease;
  background: url('../img/qatarstatic.png') no-repeat center;
  /* covers the whole screen */
  background-size: cover;
}
.predictions::before {
  /* content: ''; */
  width: 100%;
  height: 200px;
  position: absolute;
}

.predictions__content {
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;

  color: #fff;
}
.predictions .content {
  z-index: 10;
  padding-top: 5px;
  padding-bottom: 5px;

  color: #fff;
}

.predictions .containerGrid {
  font-size: 1.3rem;
  font-weight: 500;
}

.prediction .card {
  background-color: red;
}
