.nav {
  position: fixed;
  width: 100%;
  z-index: 800; /* in front of anything but before movile Sidebar */
  transition: all 0.3s ease;
}

.nav.nav--background {
  background: #000;
}

/* @media (max-width: 960px) {
  .nav {
    transition: 0.4s all ease;
  }
} */

.nav__content {
  display: flex;
  justify-content: space-between;
  height: 80px;
}

.nav__logo {
  justify-self: flex-start;
  cursor: pointer;
  display: flex;
  /* align-items: center; */

  margin-top: 12px;
  height: 50px;
}

.nav__mobileIcon {
  display: none;
}

@media (max-width: 768px) {
  .nav__mobileIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }
}

.nav__menu {
  display: flex;
  align-items: center;
  text-align: center;
  list-style: none;
}

/* @media (max-width: 768px) {
  .nav__menu {
    display: none;
  }
} */

.nav__item {
  height: 100%;
}

.nav__link {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  /* padding-top: 10px; */

  border-bottom: 5px solid transparent;

  font-size: 17px;
  font-weight: 500;

  transition: all 0.2s ease;
}

.nav__link:hover {
  color: gray;
}
/* .nav__link.active {
  border-bottom: 5px solid var(--color-primary);
  color: var(--color-primary);
}  */
