body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --- Theme Colors --- */
  --color-primary: #ab0e3c;

  --color-orange: #ff8e00;
  --color-green: #01bf71;
  --color-purple: #cc00ff;
  --color-blue: #1976d2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  max-width: 1300px;
  padding: 0 2rem;
  margin: auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0 18px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 8px;
  }
}
